@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap);

body {
    background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position-x: 120%, -20%;
    background-position-y: 70%, -20%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    
    a { 
        color: hsl(228, 45%, 44%); 
    }
}
