//Background colors
$body-bg-color: hsl(185, 75%, 39%);
$card-bg-color: hsl(0, 0%, 100%);
//Font color
$title-color: hsl(229, 23%, 23%);
$description-color: hsl(227, 10%, 46%);
$stat-color: hsl(0, 0%, 59%);



$photo-size: 96px;